@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    /* user-select: none; */
}

@font-face {
    font-family: Console;
    src: url(../public/Consolas.ttf)
}

.flex {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.btn-primary {
    cursor: pointer;
    width: 120px;
    background-color: #fff;
    border: 2px solid #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.2s;
}

.btn-primary:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.btn-secondary {
    cursor: pointer;
    width: 120px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.2s;
}

.btn-secondary:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
}

hr {
    margin: 30px 0;
    border: 2px solid rgba(255, 255, 255, 0.08);
    width: 100%;
}

.flex-img {
    display: flex;
}

iframe{
    border-radius: 20px;
}

@media  (max-width: 768px) {
    .integrantes {
        display: none;
    }

    .btn-secondary,
    .btn-primary {
        width: 100px;
    }


}