body {
    overflow: hidden;
    margin: 0;
    background-color: #fff;
    background-image: url("../../public/imgs/background.jpg");
    background-size: 100%;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s;
}

header nav ul li a:hover {
    font-weight: 600;
}

.username {
    display: flex;
    align-items: center;
    color: #fff;
    margin-right: 20px;
}

.icon {
    min-width: 60px;
    width: 60px;
    border-radius: 10px;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.container-boxes {
    min-width: 232px;
    width: 232px;
    margin-right: 10px;
    height: calc(100vh - 170px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    transition: 0.4s;
    border-radius: 5px;
}


#description .subtitle{
    font-size: 16px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    color: #fff;
    font-weight: bold;
}

.box,
.box-task {
    padding: 10px;
    text-align: center;
    min-width: 200px;
    margin-bottom: 5px;
    width: 200px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 2px solid rgba(255, 255, 255, 0.08);
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box-task {
    width: 25% !important;
    min-width: 25% !important;
    min-height: 200px;
    margin-right: 5px;
    background-color: transparent;
    padding: 25px;
}

.box span {
    font-size: 14px !important;
}

.box:hover,
.arrow-nav:hover {
    border: solid 2px #fff;
}



.arrow-nav {
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 220px;
    height: 42px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    border: 2px solid rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.arrow-nav svg {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.container-boxes::-webkit-scrollbar {
    width: 0px !important;
}

.container-boxes::-webkit-scrollbar,
.content::-webkit-scrollbar {
    width: 5px;
    height: 0;
}

.container-boxes::-webkit-scrollbar-track,
.content::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 3px;
}

.container-boxes::-webkit-scrollbar-thumb,
.content::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
}

.container-boxes::-webkit-scrollbar-thumb:hover,
.content::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8);
}


.arrows {
    position: absolute;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    width: 25px;
    color: #fff;
}

.box-title{
    padding: 0 20px;
    margin-bottom: 15px;
}

.box-title .arrow{
    margin-right: 20px;
}

.box-title h1{
    margin: 0 !important;
    padding: 0 !important;
}

.content {
    padding: 30px;
    width: 100%;
    color: #fff;
    overflow: auto;
    height: calc(100vh - 180px);
    background: rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 2px solid rgba(255, 255, 255, 0.08);
}

.content h1{
    padding: 0 20px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0px;
}

.content h2{
    padding: 0 20px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
}

.content h3{
    margin-bottom: 5px;
}

.content p {
    padding: 0 20px;
    margin: 0;
    text-align: justify;
    font-weight: 400;
    font-size: 14px;
}

.tasks {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.box-task {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-task .number {
    width: 20%;
    font-size: 50px;
    font-weight: 600;
}

.box-task button {
    padding: 0px;
    height: 30px;
}

.box-task div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.box-task div p {
    align-items: center;
    padding: 0 !important;
}

.infos-arduino{
    margin-left: 15px;
}

#ranking{
    margin-right: 15px;
}

#send-task{
    margin-top: 20px;
    margin-left: 10px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .box-task {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    main .content{
        margin-top: 10px;
        height: calc(100vh - 280px);
        width: auto;
    }

    .container-boxes {
        width: 100%;
        height: 80px;
        margin-right: 0;
        flex-direction: row;
        margin-bottom: 10px;
    }

    .container-boxes .box {
        margin-right: 15px;
    }

    .arrow-nav {
        display: none;
    }   

    header nav ul{
        width: auto;
        padding: 0px;
    }

    main img {
        display: none;
    }
}